CoreAudioIntroduction.xcodeproj/project.xcworkspace/xcuserdata/nikitakardakov.xcuserdatad/UserInterfaceState.xcuserstate
CoreAudioIntroduction.xcodeproj/xcuserdata/nikitakardakov.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
CoreAudioIntroduction.xcodeproj/xcuserdata/nikitakardakov.xcuserdatad/xcschemes/CoreAudioIntroduction.xcscheme
CoreAudioIntroduction.xcodeproj/xcuserdata/nikitakardakov.xcuserdatad/xcschemes/xcschememanagement.plist
